/* Seção Sobre Nós */
.about-us {
    text-align: center;
    margin: 2rem 0;
}

.about-us__subtitle {
    font-weight: 600;
    color: var(--red-dark);
}

.about-us__highlighted-title {
    font-weight: 600;
    font-size: var(--font-size-extra-large);
    color: var(--black-light);
    margin: 2rem 0;
}

.about-us__paragraph {
    color: var(--gray-light);
    font-weight: 400;
    font-size: var(--font-size-medium);
    width: var(--width-80);
    margin: 0 auto;
}

/* Dados */
.about-us__data {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us__data-item {
    margin: 2rem;
    text-align: center;
    width: 22%;
}

.about-us__data-quantity {
    font-weight: 600;
    font-size: 60px;
    color: var(--red-dark);
}

.about-us__data-title {
    font-size: 18px;
    color: var(--black-light);
}

.about-us__data-paragraph {
    font-weight: 400;
    color: var(--gray-light);
}

/* Imagem */
.job-openings {
    text-align: center;
}

.job-openings__image {
    margin: 2rem 0;
    width: 100%;
    max-width: 800px;
}

/* Estilos gerais para a seção do formulário */
.contact-form {
    padding: 20px;
    text-align: center;
}

.contact-form__subtitle {
    display: block;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.contact-form__highlighted-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form__form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para os campos do formulário */
.contact-form__field {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilos para os rótulos dos campos */
.contact-form__label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

/* Estilos para campos de entrada e áreas de texto */
.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para o foco dos campos de entrada e áreas de texto */
.contact-form__input:focus,
.contact-form__textarea:focus {
    border-color: var(--red-dark);
    outline: none;
}

/* Estilos para o botão do formulário */
.contact-form__button {
    background-color: var(--red-very-dark);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para o botão ao passar o mouse */
.contact-form__button:hover {
    background-color: var(--red-dark);
}

/* Estilos específicos para a área de texto */
.contact-form__textarea {
    resize: vertical;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .about-us__paragraph {
        width: 60%;
    }

    .about-us__data {
        padding: 0 5rem;
    }

    .about-us__data-item {
        width: 22%;
    }

    .job-openings__image {
        max-width: 85%;
        aspect-ratio: 17 / 6;
    }

    .testimonials {
        width: 75%;
        margin: 5rem auto;
        border-radius: var(--border-radius-10);
    }

    .testimonials__highlighted-title {
        font-size: 44px;
    }
}

@media screen and (min-width: 1020px) {
    .job-openings__positions {
        width: 50%;
    }
}
